@import "./cssModule/loginStyle.css";
@import "./cssModule/graphController.css";
@import "./cssModule/navbarStyle.css";
@import "./cssModule/homeStyle.css";

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

#graph-container {
	width: 1000px;
	height: auto;
}

