/* .selector-box {
  background-color: #444;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.main-box {
  display: flex;
}

.left-container {
  width: 50%;
  flex-direction: column;
}

.right-container {
  width: 50%;
}

div.suggestions-container {
  background-color: #444;
}

.setting-selectors {
  text-align: left;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  width: 300px;
  height: auto;
  padding: 1%;
}

.graph-container {
  height: auto;
  border: solid black;
}
